// Custom SCSS here in the future.

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.icon {
  height: 70px;
  width: auto;
}

.background {
  background: url("https://upload.wikimedia.org/wikipedia/fr/f/f5/Oziris%2C_l%27Egypte%2C_Parc_Asterix%2C_France.JPG") no-repeat !important;
  background-size: cover !important;
}
