// Custom SCSS here in the future.

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.icon {
  height: 100%;
  width: auto;
}

.background {
  background: url("https://filotomatix.romitou.fr/background.jpg") no-repeat !important;
  background-size: cover !important;
}
